<html ng-app="MasterController">
<head>
    <meta charset="UTF-8">
    <title>Firefly Simulation</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    
    
    
</head>
<body style="background: #444;" ng-controller="FireflyController as fc">
    {{2+2}}
    <button ng-click="nightTime()">{{btnText}}</button>
    <div ng-repeat="bush in quilt">
            <div ng-repeat="bug in bush">
    <div style="position: absolute; top: {{bug.yy*4}}; left: {{bug.xx*4}} width: 4px; height: 4px; background: rgb({{bug.red}}, {{bug.green}}, {{bug.blue}})"></div>
</div>
<div style="width:500px;height:100px;border:3px solid rgb(bug.red,bug.green,bug.blue);">This is a rectangle!</div>

</div>

    <!--<canvas id="canvas">
Canvas not supported   style="top: {{y}}%; left: {{x}}%"
</canvas>

<canvas id="example" width="200" height="200">
This text is displayed if your browser does not support HTML5 Canvas.
</canvas>-->
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="app/app.js"></script>
        <script src="app/firefly.js"></script>

</body>
</html>